<section class="box special clearfix">
    <header>
        <h3>Candidature de Saguenay</h3>
    </header>
    <p>
        Suite à la consultation des citoyens, la candidature de la ville a été envoyée au concours. Vous pouvez consulter le document qui rassemble les réponses de Saguenay aux questions du concours.
    </p>
    <ul class="actions">
        <li><a href="{{ 'assets/files/reponses-consultation.pdf' | relative_url }}" class="button"
               target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i> La candidature</a></li>
    </ul>
</section>
