<section class="box special clearfix">
    <header>
        <h3>Candidature de Saguenay au défi des villes intelligentes</h3>
    </header>
    <p>
        Nous vous invitons à consulter le document de candidature qui a été déposé en avril dernier. Notre énoncé de
        défi : <strong><em>Saguenay connaît une baisse démographique et un vieillissement de la population et désire
        contrer ce
        phénomène,
        en créant un pôle innovant et attractif basé sur les technologies connectées.</em></strong>
    </p>
    <ul class="actions">
        <li><a href="{{ 'assets/files/candidature_saguenay_vi.pdf' | relative_url }}" class="button"
               target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i> La candidature</a></li>
    </ul>
</section>
