{% assign social = site.data.social %}

<footer id="footer">
    <ul class="icons">
        <li><a href="{{ social.twitter.url }}" class="icon fa-twitter" target="_blank"><span
                class="label">Twitter</span></a></li>
        <li><a href="{{ social.facebook.url }}" class="icon fa-facebook" target="_blank"><span
                class="label">Facebook</span></a></li>
        <!--<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
        <li><a href="{{ social.github.url }}" class="icon fa-github" target="_blank"><span
                class="label">Github</span></a></li>
        <!--<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>-->
        <!--<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>-->
    </ul>
    <ul class="copyright">
        <li>&copy; SaguenayVI. Tous droits réservés.</li>
        <li>Site web <a href="{{ social.github.repo }}" target="_blank">open source</a> gracieusement offert par le <a href="https://saglac.io/" target="_blank">Saglac IO</a></li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</footer>
