<section id="cta">

    <h2>S'inscrire à l'infolettre</h2>
    <p>Restez informé sur le développement du projet de la ville intelligente à Saguenay.</p>

    <form action="https://facebook.us17.list-manage.com/subscribe/post">
        <input type="hidden" name="u" value="3e59881f7aed1b8fa5f4263a7">
        <input type="hidden" name="id" value="584c9fb0fe">
        <div class="row uniform 50%">
            <div class="8u 12u(mobilep)">
                <input type="email" name="MERGE0" id="email" placeholder="Courriel"/>
            </div>
            <div class="4u 12u(mobilep)">
                <input type="submit" value="S'inscrire" name="submit" class="fit"/>
            </div>
        </div>
    </form>

</section>
