---
layout: default
permalink: /
---

<div id="page-wrapper">

    {% comment %}
    <!-- Header -->
    {% include header.html %}
    {% endcomment %}

    <!-- Banner -->
    {% include banner.html %}

    <!-- Main -->
    <section id="main" class="container">

        <section class="box special shadow">
            <header class="major">
                <h2>La ville de demain au niveau social, <br>économique et culturel.</h2>
                <p>Basé sur un processus consultatif de la communauté citoyenne, nous voulons promouvoir, initier et
                    implanter la ville intelligente à Saguenay pour assurer et dynamiser un développement durable, au
                    niveau social, économique et culturel.</p>
            </header>
            <!--<span class="image featured"><img src="images/pic01.jpg" alt=""/></span>-->
        </section>

        {% comment %}
        <section class="box special features">
            <div class="features-row">
                <section>
                    <span class="icon major fa-bolt accent2"></span>
                    <h3>Magna etiam</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum
                        phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                </section>
                <section>
                    <span class="icon major fa-area-chart accent3"></span>
                    <h3>Ipsum dolor</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum
                        phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                </section>
            </div>
            <div class="features-row">
                <section>
                    <span class="icon major fa-cloud accent4"></span>
                    <h3>Sed feugiat</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum
                        phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                </section>
                <section>
                    <span class="icon major fa-lock accent5"></span>
                    <h3>Enim phasellus</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum
                        phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                </section>
            </div>
        </section>
        {% endcomment %}

        <div class="row">
            <div class="12u">
                <section class="box special">
                    <!--<span class="image featured"><img src="images/pic02.jpg" alt=""/></span>-->
                    <h3>Objectif 1: Remporter le défi des villes intelligentes</h3>
                    <p>Le défi des villes intelligentes est organisé par <a
                            href="http://www.infrastructure.gc.ca/index-fra.html" target="_blank">infrastructure
                        Canada</a> a pour objectif d’aider les communautés à mieux définir leur avenir avec l’aide de
                        leurs résidents en adoptant
                        une approche de ville intelligente. Afin de récompenser les villes qui sont prêtes à innover et
                        à prendre des risques, Il offre la possibilité de gagner 1 des 2 prix de 10 millions de dollars
                        qui nous permettrait de mettre notre proposition en place.</p>
                    <ul class="actions">
                        <li><a href="http://www.infrastructure.gc.ca/plan/cities-villes-fra.html" class="button alt"
                               target="_blank">En apprendre plus</a></li>
                    </ul>
                </section>
            </div>
            <div class="12u">
                <section class="box special">
                    <!--<span class="image featured"><img src="images/pic03.jpg" alt=""/></span>-->
                    <h3>Objectif 2: Préparation au lancement de l’appel de projets</h3>
                    <p>Le gouvernement du Québec a annoncé dans sa stratégie numérique qu’il appuiera le virage
                        numérique des municipalités. Les moyens à mettre en place ainsi que les modalités de l’appui
                        seront annoncés au cours de l’année 2018. À Saguenay nous entendons démontrer que nous avons une
                        communauté en action qui a pour ambition de devenir un modèle de ville intelligente dans le
                        monde.</p>
                    <ul class="actions">
                        <li>
                            <a href="https://www.economie.gouv.qc.ca/fileadmin/contenu/documents_soutien/strategies/economie_numerique/sommaire-dynamique/"
                               class="button alt" target="_blank">En apprendre plus</a></li>
                    </ul>
                </section>
            </div>
            <div class="12u">
                <section class="box special">
                    <!--<span class="image featured"><img src="images/pic03.jpg" alt=""/></span>-->
                    <h3>Objectif 3: Mettre en place la ville intelligente à Saguenay</h3>
                    <!--<p>Le gouvernement du Québec a annoncé dans sa stratégie numérique qu’il appuiera le virage-->
                        <!--numérique des municipalités. Les moyens à mettre en place ainsi que les modalités de l’appui-->
                        <!--seront annoncés au cours de l’année 2018. À Saguenay nous entendons démontrer que nous avons une-->
                        <!--communauté en action qui a pour ambition de devenir un modèle de ville intelligente dans le-->
                        <!--monde.</p>-->
                    <!--<ul class="actions">-->
                        <!--<li>-->
                            <!--<a href="https://www.economie.gouv.qc.ca/fileadmin/contenu/documents_soutien/strategies/economie_numerique/sommaire-dynamique/"-->
                               <!--class="button alt" target="_blank">En apprendre plus</a></li>-->
                    <!--</ul>-->
                </section>
            </div>
        </div>

    </section>

    <!-- CTA -->
    {% include mailing.html %}

    <!-- Footer -->
    {% include footer.html %}

</div>
