---
layout: default
permalink: /
---

<div id="page-wrapper">

    {% comment %}
    <!-- Header -->
    {% include header.html %}
    {% endcomment %}

    <!-- Banner -->
    {% include banner.html %}

    <!-- Main -->
    <section id="main" class="container">

        <div class="10u -1u 12u(narrow)">
            <section class="box shadow clearfix">
                <header class="major">
                    <h2>La ville intelligente, c'est la ville de demain au <br>niveau social, économique et culturel.
                    </h2>
                </header>
                <p class="major"><img class="6u 12u(narrower)" src="{{ 'images/graph.png' | relative_url }}" alt="">
                    Basé sur un processus consultatif de la communauté citoyenne, nous voulons promouvoir, initier et
                    implanter la ville intelligente à Saguenay pour assurer et dynamiser un développement durable, au
                    niveau social, économique et culturel.
                </p>
                <!--<span class="image featured"><img src="images/pic01.jpg" alt=""/></span>-->
            </section>

            <section class="box clearfix">
                <!--<span class="image featured"><img src="images/pic02.jpg" alt=""/></span>-->
                <header>
                    <h3>Mot de la mairesse de Saguenay</h3>
                </header>
                <p>
                    <img class="4u 6u(narrower)"
                         src="{{ 'images/mairesse_saguenay_OFFICIELLE_10_janvier_2018_small.jpg' | relative_url }}"
                         alt="Josée Néron mairesse de Saguenay 10 janvier 2018">
                    C’est avec beaucoup de détermination et d’excitation que Saguenay se lance dans la course du
                    Défi
                    des villes intelligentes du Canada. Cette importante initiative du gouvernement canadien
                    représente une occasion unique d’innover dans un domaine actuellement à découvrir, mais
                    tellement riche en possibilités!
                    <br><br>
                    Devenir une Ville intelligente, c’est mettre à profit les technologies disponibles pour
                    optimiser les services aux citoyens, mais également pour améliorer les façons de faire
                    municipales, grâce entre autres à l’accès à de nouvelles données. Il s’agit d’un projet
                    d’envergure qui nécessitera l’implication de toute la population. En conformité avec les valeurs
                    du conseil municipal de Saguenay, au sein desquelles la démocratie participative citoyenne
                    occupe une place prépondérante, les citoyens seront invités à s’exprimer au sujet de la ville
                    intelligente et à nous transmettre leurs commentaires et suggestions, dans l’objectif de cibler
                    efficacement leurs besoins et leurs attentes.
                    <br><br>
                    Je sollicite donc un effort collectif pour la réussite de Saguenay, Ville intelligente. Il
                    s’agit d’un défi majeur qui mettra à profit les talents et compétences des gens d’ici, c’est
                    pourquoi je suis convaincue de notre succès!
                    <br><br>
                    Josée Néron,
                    <br>
                    mairesse de Saguenay
                </p>
            </section>
            <section class="box clearfix">
                <!--<span class="image featured"><img src="images/pic02.jpg" alt=""/></span>-->
                <header>
                    <h3>Le défi des villes intelligentes</h3>
                </header>
                <p>
                    <img class="2u 3u(narrower) 4u(mobilep)"
                         src="{{ 'images/logo-ville-intelligente.jpg' | relative_url }}"
                         alt="">
                    Le <a href="http://www.infrastructure.gc.ca/plan/cities-villes-fra.html" target="_blank">défi des
                    villes
                    intelligentes est organisé par infrastructure Canada</a> a pour objectif d’aider les communautés à
                    mieux
                    définir leur avenir avec l’aide de leurs résidents en adoptant une approche de ville intelligente.
                    Afin
                    de récompenser les villes qui sont prêtes à innover et à prendre des risques, Il offre la
                    possibilité de
                    gagner 1 des 2 prix de 10 millions de dollars qui nous permettrait de mettre notre proposition en
                    place.
                </p>
            </section>
            {% comment %}
            <section class="box clearfix">
                <header>
                    <h3>On veut savoir ce que vous en pensez</h3>
                </header>
                <p>
                    <img class="2u 3u(narrower) 4u(mobilep)"
                         src="{{ 'images/survey.png' | relative_url }}"
                         alt="">
                    À Saguenay, nous voulons prioriser des mécanismes de co-création de la ville intelligente axés sur
                    la participation citoyenne. Dans le cadre du Défi des villes intelligentes, nous vous invitions à
                    répondre <strong>jusqu’au 25 mars</strong> à ce court sondage qui nous aidera à orienter notre
                    proposition.
                </p>
                <ul class="actions">
                    <li><a href="{{ site.survey }}" class="button" target="_blank">Donner son avis</a></li>
                </ul>
            </section>
            {% endcomment %}
        </div>
    </section>

    <!-- CTA -->
    {% include mailing.html %}

    <!-- Footer -->
    {% include footer.html %}

</div>
